<a href="https://colab.research.google.com/github/ha-re-ram/AIML-Lab/blob/main/Exp_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [ ]:
# Load the dataset
df = pd.read_csv('/content/Social_Network_Ads.csv')

In [ ]:
df.shape

(400, 5)

In [ ]:
# 1. Get basic info about the dataset
print("\nDataset Info:")
df_info = df.info()  # Info about data types and non-null values
print(df_info)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None

In [ ]:
# 2. Describe the dataset for statistical summary
print("\nDataset Description:")
df_description = df.describe()  # Summary statistics for numerical columns
print(df_description)

Dataset Description:
            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
# 3. Check for duplicate rows
duplicates = df.duplicated().sum()
print("\nNumber of Duplicate Rows:", duplicates)

Number of Duplicate Rows: 0

In [ ]:
# 4. Check for unique values in each column
print("\nUnique Values in Each Column:")
unique_values = df.nunique()
print(unique_values)

Unique Values in Each Column:
User ID            400
Gender               2
Age                 43
EstimatedSalary    117
Purchased            2
dtype: int64

In [ ]:
# 5. Check for missing (null) values
print("\nMissing Values in Each Column:")
missing_values = df.isnull().sum()
print(missing_values)

Missing Values in Each Column:
User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
# Display first few rows of the dataset
print("Initial Dataset:\n", df.head())

Initial Dataset:
     User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
# 6. Handle Missing Values
imputer = SimpleImputer(strategy='mean')
df[['Age', 'EstimatedSalary']] = imputer.fit_transform(df[['Age', 'EstimatedSalary']])

In [ ]:
# 7. Encode Categorical Variables (Gender)
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])  # Male = 0, Female = 1

In [ ]:
# 8. Feature Scaling (Normalization/Standardization)
scaler = StandardScaler()
df[['Age', 'EstimatedSalary']] = scaler.fit_transform(df[['Age', 'EstimatedSalary']])

In [ ]:
# 9. Splitting the dataset into Training and Test sets
X = df[['Age', 'EstimatedSalary', 'Gender']]
y = df['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# 10. Display pre-processed dataset
print("\nProcessed Dataset:\n", df.head())

Processed Dataset:
     User ID  Gender       Age  EstimatedSalary  Purchased
0  15624510       1 -1.781797        -1.490046          0
1  15810944       1 -0.253587        -1.460681          0
2  15668575       0 -1.113206        -0.785290          0
3  15603246       0 -1.017692        -0.374182          0
4  15804002       1 -1.781797         0.183751          0